@charset "UTF-8";
/* variables*/
/* mixin*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aleo', serif;
}

/* mixin*/
/* mapas*/
/* componentes*/
/* Header */
.navbar {
  display: flex;
  width: 100%;
  font-size: 20px;
  padding: 0rem;
  padding-left: 15%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  padding-left: 5%;
}

.navbar-brand img {
  width: 185px;
  height: 100%;
  padding: 0rem;
}

.encabezado__iconos {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  color: #ffd71c;
  width: 200%;
  align-items: center;
  gap: 1rem;
}

.encabezado__iconos:hover {
  color: aliceblue;
}

/* fotter */
.fotter {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: grey;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.footer__derechos {
  text-align: center;
  color: aliceblue;
}

.footer__iconos {
  color: aliceblue;
}

/*Seccion de contenido 1 HOME  */
.home {
  background-image: url(../imagenes/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10rem;
}

.home__titulos {
  font-size: 50px;
  color: aliceblue;
  line-height: 2;
  text-align: center;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.home__subtitulo {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
}

.home__parrafo {
  font-size: 18px;
  color: #ffd71c;
  text-align: center;
}

.btn-primary {
  font-size: 30px;
  color: aliceblue;
  text-decoration: none;
  border: 2px inset black;
  background-color: black;
}

.btn-primary:hover {
  color: black;
  border: 2px inset aliceblue;
  background-color: aliceblue;
}

/*Seccion de contenido 2 HOME  */
.home__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px;
  max-width: 1200px;
  margin: 0 auto;
}

.home__potenciamos {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: black;
}

.home__potenciamos--titulos {
  font-size: 50px;
  color: aliceblue;
  line-height: 1;
}

.home__icono--diseño {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--mkt {
  width: 80px;
  height: 100px;
  padding: 1rem;
}

.home__icono--comu {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__potenciamos--subtitulos {
  font-size: 30px;
  color: #ffd71c;
}

.home__potenciamos--parrafo {
  font-size: 18px;
  color: aliceblue;
  padding: 1rem;
}

/* Seccion de contenido 3 home */
.home__esperando {
  background-color: black;
  padding: 2rem;
}

.home__esperando--titulo {
  font-size: 50px;
  color: aliceblue;
  text-align: center;
  line-height: 3;
}

.home__esperando--video {
  width: 100%;
  height: 100%;
  text-align: center;
}

/*Seccion de contenido 1 agencia digital  */
.agenciadigital {
  background-image: url(../imagenes/agencia_digital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  width: 100%;
  padding: 10rem;
}

.agencia__titulo {
  font-size: 50px;
  color: aliceblue;
  line-height: 2;
  text-align: center;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

.agencia__subtitulo {
  font-size: 30px;
  color: #ffd71c;
  text-align: center;
}

.agencia__parrafo {
  color: aliceblue;
  font-size: 18px;
  text-align: center;
  line-height: 5;
}

/*Seccion de contenido 2 agencia digital  */
.agencia__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.agencia__potenciamos {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: black;
}

.agencia__potenciamos--titulos {
  font-size: 45px;
  color: aliceblue;
  line-height: 3;
}

.agencia__imagen--num {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.agencia__potenciamos--parrafo {
  font-size: 18px;
  color: aliceblue;
  padding: 1rem;
}

/* Seccion de contenido 3 agencia digital */
.agencia__socio {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: black;
}

.agencia__socio--titulo {
  font-size: 50px;
  color: aliceblue;
}

.agencia__socio--subtitulo {
  font-size: 30px;
  color: aliceblue;
  line-height: 2;
}

.agencia__socio--parrafo {
  color: #ffd71c;
  font-size: 18px;
  text-align: center;
  padding: 4rem;
}

.agencia__socio--boton {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  line-height: 3;
  text-align: center;
}

/*Seccion de contenido 1 servicios  */
.servicios {
  background-image: url(../imagenes/servicios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  width: 100%;
  padding: 10rem;
  line-height: 1.6;
}

.servicios__titulos {
  font-size: 50px;
  color: aliceblue;
  line-height: 2;
  text-align: center;
}

/*Seccion de contenido 2 servicios  */
.servicios__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  max-width: 1200px;
  margin: 0 auto;
}

.servicio__potenciamos {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: black;
}

.servicios__potenciamos--titulo {
  font-size: 50px;
  color: aliceblue;
  line-height: 3;
}

.servicio__potenciamos--subtitulos {
  font-size: 30px;
  color: #ffd71c;
}

.servicio__potenciamos--subtitulos:hover {
  color: aliceblue;
}

.servicio__potenciamos--parrafo {
  font-size: 18px;
  color: aliceblue;
  padding: 1rem;
}

.servicio__potenciamos--parrafo:hover {
  color: #ffd71c;
}

.servicio__icono--publicidad {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--diseño {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--CM {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--meli {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--brochure {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.home__icono--page {
  width: 130px;
  height: 100px;
  padding: 1rem;
}

.home__potenciamos--subtitulos {
  font-size: 30px;
  color: #ffd71c;
}

.home__potenciamos--parrafo {
  font-size: 18px;
  color: aliceblue;
  padding: 1rem;
}

/*Seccion de contenido 1 blog  */
.blog {
  background-image: url(../imagenes/blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  width: 100%;
  padding: 10rem;
  line-height: 1.6;
}

.card-img-top {
  width: 100%;
  height: 250px;
}

.blog_titulo {
  font-size: 50px;
  color: aliceblue;
  line-height: 1;
}

.blog__subtitulo {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
}

/*Seccion de contenido 1 contacto  */
.contacto {
  background-image: url(../imagenes/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  width: 100%;
  padding: 10rem;
  line-height: 1.6;
}

.contacto__titulo {
  font-size: 50px;
  color: aliceblue;
  line-height: 3;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

.contacto__subtitulo {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
}

/*Seccion de contenido 2 contacto  */
.presupuesto {
  padding: 2rem;
  text-align: left;
  line-height: 1.6;
}

.contacto__presupuesto--titulo {
  font-size: 50px;
  color: black;
}

.contacto__presupuesto--subtitulo {
  font-size: 30px;
  color: #ffd71c;
  padding-bottom: 1rem;
}

/* medias queries mobile */
@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    font-size: 15px;
  }
  .encabezado__iconos {
    display: none;
  }
  .navbar-brand img {
    width: 150px;
    height: 75%;
    margin-left: 40%;
    padding-left: 0%;
  }
  .home {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .home__titulos {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .home__subtitulo {
    font-size: 15px;
    line-height: 2;
  }
  .home__parrafo {
    font-size: 15px;
    line-height: 1.5;
  }
  .btn-primary {
    font-size: 20px;
    line-height: 2;
  }
  /*Seccion de contenido 2 HOME  */
  .home__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
  }
  .home__potenciamos--titulos {
    font-size: 24px;
    line-height: 1.5;
    padding: 1rem;
  }
  .home__potenciamos--subtitulos {
    font-size: 18px;
    color: #ffd71c;
  }
  .home__potenciamos--parrafo {
    font-size: 15px;
    color: aliceblue;
  }
  /* Seccion de contenido 3 home */
  .home__esperando--titulo {
    font-size: 22px;
    padding: 0rem;
    line-height: 1.5;
  }
  /*Seccion de contenido 1 agencia digital  */
  .agenciadigital {
    padding: 1rem;
  }
  .agencia__titulo {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .agencia__subtitulo {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .agencia__parrafo {
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    line-height: 1;
  }
  /*Seccion de contenido 2 agencia digital  */
  .agencia__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .agencia__potenciamos {
    padding: 1rem;
  }
  .agencia__potenciamos--titulos {
    font-size: 22px;
    line-height: 1.5;
  }
  .agencia__imagen--num {
    padding: 1rem;
  }
  .agencia__potenciamos--parrafo {
    font-size: 15px;
    padding: 1rem;
  }
  /* Seccion de contenido 3 agencia digital */
  .agencia__socio {
    padding: 1rem;
  }
  .agencia__socio--titulo {
    font-size: 22px;
  }
  .agencia__socio--subtitulo {
    font-size: 18px;
    line-height: 1.5;
  }
  .agencia__socio--parrafo {
    font-size: 15px;
    padding: 1rem;
  }
  .agencia__socio--boton {
    font-size: 20px;
    line-height: 1;
  }
  /* Seccion de contenido 1 servicios */
  .servicios {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .servicios__titulos {
    font-size: 22px;
    line-height: 1;
  }
  /* Seccion de contenido 2 servicios */
  .servicios__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .servicios__potenciamos--titulo {
    font-size: 22px;
    padding: 0rem;
    line-height: 1.5;
  }
  .servicio__potenciamos--subtitulos {
    font-size: 18px;
    line-height: 1.5;
  }
  .servicio__potenciamos--parrafo {
    font-size: 15px;
    padding: 1rem;
  }
  /* Seccion de contenido 1 blog */
  .blog {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  /* Seccion de contenido 1 contacto */
  .contacto {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .contacto__titulo {
    font-size: 22px;
    padding: 0rem;
    line-height: 1.5;
  }
  .contacto__subtitulo {
    font-size: 18px;
    line-height: 1.5;
  }
  /*Seccion de contenido 2 contacto  */
  .presupuesto {
    padding: 1rem;
    line-height: 1.5;
  }
  .contacto__presupuesto--titulo {
    font-size: 22px;
    padding: 0rem;
    line-height: 1.5;
    text-align: center;
  }
  .contacto__presupuesto--subtitulo {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  /* fotter */
  .fotter {
    font-size: 12px;
  }
}

/* poner el menu de habrurguesa para las pantallas chicas y cambiar la altura de las letras */
/*# sourceMappingURL=estilos.css.map */