/* variables*/
$color-primario: black;
$color-secundario: aliceblue;
$color-terciario: #ffd71c;


/* mixin*/
@import "parciales/_variables";

/* componentes*/
@import "parciales/_header";
@import "parciales/_fotter";
@import "parciales/_home";
@import "parciales/_agencia";
@import "parciales/_servicios";
@import "parciales/_blog";
@import "parciales/_contacto";
@import "parciales/_mediaqueries";