/*Seccion de contenido 1 blog  */


.blog {
    background-image: url(../imagenes/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
    width: 100%;
    padding: 10rem;
    line-height: 1.6;
    
}

.card-img-top {
    @include img(100%, 250px);
}

.blog_titulo {
    font-size: map-get($titulos, tFuente);
    color: $color-secundario;
    line-height: 1;
}

.blog__subtitulo {
    font-size: map-get($subtitulos, tFuente);
    color: $color-secundario;   
    text-align: center;
}
