
/* Header */
.encabezado {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: $color-primario;
    padding: 0rem;
    justify-content: space-evenly ;
    align-items: center;
    
    ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
 
    a {
    color: $color-secundario;
    text-decoration: none;
      
    &:hover {
    color: $color-terciario;
}
}
}
}

.encabezado img {
    @include img(185px, 100%);
}

.encabezado__iconos {
    color: $color-terciario;
    width: 15%;
} 