
/* Header */
.navbar {
    display: flex;

    width: 100%;
    font-size: 20px;
    padding: 0rem;
    padding-left: 15%;
    
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    padding-left: 5%;
}


.navbar-brand img {
    @include img(185px, 100%);
    padding: 0rem;
  
}

.encabezado__iconos {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: $color-terciario;
    width: 200%;
    align-items: center;
    gap: 1rem;
} 

.encabezado__iconos:hover{
    color: $color-secundario;
}