/* medias queries mobile */

@media screen and (max-width: 1024px) {

    .navbar {
        flex-direction: column;
        font-size: 15px;

    }
    .encabezado__iconos{
        display: none;
    }
    .navbar-brand img {
        @include img(150px, 75%);
        margin-left: 40%;
        padding-left: 0%
     }

    .home {
        @include img(100%, 100%);
        padding: 1rem; 
         
    }
    .home__titulos {
        font-size: 24px;
        line-height: 1.5;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .home__subtitulo {
        font-size: 15px;
        line-height: 2;
     }
    .home__parrafo {
        font-size: 15px;
        line-height: 1.5;
     }
     
     .btn-primary {
        font-size: 20px;
        line-height: 2;
    }
    /*Seccion de contenido 2 HOME  */
    .home__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 1rem;
    }

    .home__potenciamos--titulos {
        font-size: 24px;
        line-height: 1.5;
        padding: 1rem;
    }
    .home__potenciamos--subtitulos {
        font-size: 18px;
        color: $color-terciario;
    
    }
    .home__potenciamos--parrafo {
        font-size: 15px;
        color: $color-secundario;
     }
    /* Seccion de contenido 3 home */
    
    .home__esperando--titulo {
        font-size: 22px;
        padding: 0rem;
        line-height: 1.5;
    }
    /*Seccion de contenido 1 agencia digital  */
    .agenciadigital {
        padding: 1rem;
        
    }
    .agencia__titulo{
        font-size: 22px;
        line-height: 1;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .agencia__subtitulo {
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 1rem;
        padding-top: 1rem;

    }
    
    .agencia__parrafo {
         color: $color-secundario;
         font-size: 15px;
         text-align: center;
         line-height: 1;  
    }
    /*Seccion de contenido 2 agencia digital  */
    .agencia__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .agencia__potenciamos {
        padding: 1rem;   
    }
    .agencia__potenciamos--titulos {
        font-size: 22px;
        line-height: 1.5;
    }
    .agencia__imagen--num{
        padding: 1rem;
    }
    .agencia__potenciamos--parrafo {
        font-size: 15px;
          padding: 1rem;
    }
    /* Seccion de contenido 3 agencia digital */
    .agencia__socio {
           padding: 1rem;

    }

    .agencia__socio--titulo {
        font-size: 22px;
   
    
    }
    .agencia__socio--subtitulo{
        font-size: 18px;
        line-height: 1.5;
    
    }
    .agencia__socio--parrafo{
        font-size: 15px;
        padding: 1rem; 
    }

    .agencia__socio--boton{
        font-size: 20px;
        line-height: 1;

    }

    /* Seccion de contenido 1 servicios */
    .servicios {
        @include img(100%, 100%);
        padding: 2rem;
    }

    .servicios__titulos {
        font-size: 22px;
        line-height: 1;
    }

    /* Seccion de contenido 2 servicios */

    .servicios__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .servicios__potenciamos--titulo {
        font-size: 22px;
        padding: 0rem;
        line-height: 1.5;
    }

    .servicio__potenciamos--subtitulos{
        font-size: 18px;
        line-height: 1.5;

    }

    .servicio__potenciamos--parrafo {
        font-size: 15px;
          padding: 1rem;
    }

     /* Seccion de contenido 1 blog */
    .blog {
        @include img(100%, 100%);
        padding: 2rem;
    }
         
     /* Seccion de contenido 1 contacto */

     .contacto {
        @include img(100%, 100%);
        padding: 2rem;
     }


   
    .contacto__titulo {
        font-size: 22px;
        padding: 0rem;
        line-height: 1.5;
    }
    
    .contacto__subtitulo {
        font-size: 18px;
        line-height: 1.5;
    }
    
    
    /*Seccion de contenido 2 contacto  */
    .presupuesto {
        padding: 1rem;
        line-height: 1.5;
    
    }
    
    
    .contacto__presupuesto--titulo {
        font-size: 22px;
        padding: 0rem;
        line-height: 1.5;
        text-align: center;
    }
    
    .contacto__presupuesto--subtitulo {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    
    }
    


    /* fotter */
    .fotter {
        font-size: 12px;
    }

}


    /* poner el menu de habrurguesa para las pantallas chicas y cambiar la altura de las letras */