/*Seccion de contenido 1 servicios  */

.servicios {
    background-image: url(../imagenes/servicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
    width: 100%;
    padding: 10rem;
    line-height: 1.6;   
}
     

.servicios__titulos {
    font-size: map-get($titulos, tFuente);
    color: $color-secundario;
    line-height: 2;
    text-align: center;
}

/*Seccion de contenido 2 servicios  */

.servicios__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicio__potenciamos {
    text-align: center;
    width: 100%;
    padding: 2rem;
    background-color: $color-primario;
 
}

.servicios__potenciamos--titulo {
    font-size: map-get($titulos, tFuente);
    color: $color-secundario;
    line-height: 3;
}

.servicio__potenciamos--subtitulos {
    font-size: map-get($subtitulos, tFuente);
    color: $color-terciario;
}
.servicio__potenciamos--subtitulos:hover {
    color: $color-secundario;
}
.servicio__potenciamos--parrafo {
    font-size: map-get($parrafos, tFuente);
    color: $color-secundario;
    padding: 1rem;
}

.servicio__potenciamos--parrafo:hover {
    color: $color-terciario;
}

.servicio__icono--publicidad {
    @include img(100px, 100px);
    padding: 1rem;

}

.home__icono--diseño {
    @include img(100px, 100px);;
    padding: 1rem;
}
.home__icono--CM {
    @include img(100px, 100px);
    padding: 1rem;

}
.home__icono--meli {
    @include img(100px, 100px);
    padding: 1rem;
}


.home__icono--brochure {
    @include img(100px, 100px);
    padding: 1rem;
}


.home__icono--page {
    @include img(130px, 100px);
    padding: 1rem;
}

.home__potenciamos--subtitulos {
    font-size: map-get($subtitulos, tFuente);
    color: $color-terciario;

}
.home__potenciamos--parrafo {
    font-size: map-get($parrafos, tFuente);;
    color: $color-secundario;
    padding: 1rem;

}